
	
	a:focus {
  outline: none;
  text-decoration:none;
}
	.content {
		width: 100%;
		margin: 50px auto;
		padding: 0;
	}
	.content h1 {
		font-weight: 400;
		text-transform: uppercase;
		margin: 0;
	}
	.content h2 {
		font-weight: 400;
		text-transform: uppercase;
		color: #333;
		margin: 0 0 20px;
	}
	.content p {
		font-size: 1em;
		font-weight: 300;
		line-height: 1.5em;
		margin: 0 0 20px;
	}
	.content p:last-child {
		margin: 0;
	}
	.content a.button {
		display: inline-block;
		padding: 10px 20px;
		background: #ff0;
		color: #000;
		text-decoration: none;
	}
	.content a.button:hover {
		background: #000;
		color: #ff0;
	}
	.content.title {
		position: relative;
		background: none;
		border: 2px dashed #333;
	}
	.content.title h1 span.demo {
		display: inline-block;
		font-size: .5em;
		padding: 5px 10px;
		background: #000;
		color: #fff;
		vertical-align: top;
		margin: 7px 0 0;
	}
	.content.title .back-to-article {
		position: absolute;
		bottom: -20px;
		left: 20px;
	}
	.content.title .back-to-article a {
		padding: 10px 20px;
		background: #f60;
		color: #fff;
		text-decoration: none;
	}
	.content.title .back-to-article a:hover {
		background: #f90;
	}
	.content.title .back-to-article a i {
		margin-left: 5px;
	}
	.content.white {
    background: #E1F4EB none repeat scroll 0 0;
    border-radius: 4px;
}
	.content.black {
		background: #000;
	}
	.content.black p {
		color: #999;
	}
	.content.black p a {
		color: #999;
	}
	
	.accordion-container {
		width: 100%;
		margin: 0 0 2px;
		clear: both;
	}
	.accordion-toggle {
   background-color:transparent;
    color: gray;
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding: 9px;
    position: relative;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
   
}
	.accordion-toggle.open {
  background-color:transparent;
    color: gray;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
}
	.accordion-toggle:hover {
    background: #7BD2A7;
    text-decoration: none;
    outline: none;
}
	.accordion-toggle span.toggle-icon {
		position: absolute;
		top: 9px;
		right: 20px;
		font-size: 1.5em;
        vertical-align:middle;
	}
	.accordion-content {
		display: none;
		padding: 20px;
		overflow: auto;
	}
	.accordion-content img {
		display: block;
		float: left;
		margin: 0 15px 10px 0;
		max-width: 100%;
		height: auto;
        vertical-align:middle;
	}
	@media (max-width: 767px) {
		.content {
			width: auto;
		}
		.accordion-content {
			padding: 10px 0;
			overflow: inherit;
		}
	}