body {
    background-color: transparent;
}

.regFormLabels {
    color: rgb(0, 102, 102) !important;
}

.textBoxborder {
    border: 0;
    outline: none;
    box-shadow: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom: 1px solid;
    border-radius: 0 !important;
    background-color: transparent;
    text-align: left;
    text-size-adjust: auto;
    font-size: 16px;
    font-family: 'Segoe UI';
}

.bodyDiv {
    background-color: transparent;
    width: 100%;
    overflow-x: hidden;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
    height:100%;
    width:100%;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.footerTable {
    height: 100%;
    background-color: transparent;
    padding-left: 0px;
    margin-left: 0px;
    width: 100%;
}

.button {
    -webkit-box-shadow: rgba(0,0,0,0.98) 0 1px 0 0;
    -moz-box-shadow: rgba(0,0,0,0.98) 0 1px 0 0;
    box-shadow: rgba(0,0,0,0.98) 0 0px 0 0;
    background-color: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    /*border:1px solid #999;*/
    color: black;
    font-family: 'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
    font-size: 11px;
    font-weight: 700;
    padding-left: 0px;
    height: 100%;
    width: 90%;
    margin-left: 0%;
    vertical-align: bottom;
    margin-top: 0%;
    padding-top: 0%;
    position: static;
}

.headingLabel {
    margin-left: 20%;
    color: seagreen;
    font: bold;
    font-size: 30px;
    text-decoration: underline;
    padding-top: .5%;
    font-family: 'Cambria, Georgia, serif';
}

.largefont {
    font: bold;
    margin-left: 10%;
    color: white;
    font-size: 25px;
}

.subheadingLabel {
    color: white;
    font: bold;
    font-size: 25px;
    font-family: 'Cambria, Georgia, serif';
    text-align: center;
    margin-left: 10%;
}

.subheadingLabel_1 {
    color: seagreen;
    font: bold;
    font-size: 25px;
    font-family: 'Cambria, Georgia, serif';
    text-align: center;
    margin-left: 10%;
}

.footerMessagesColumn {
    margin-left: 2%;
    width: 30%;
    padding-left: 2%;
}

.footerButtonColumn {
    width: 100%;
    margin-left: 0%;
    vertical-align: bottom;
    margin-bottom: 0%;
    padding-bottom: 0%;
    background-color: green;
}

.footerbuttonTable {
    margin-left: 1%;
}

.lblErrorCaptionSuccess {
    color: #00529B;
}

.lblErrorCaptionWarning {
    color: #9F6000;
}

.lblErrorCaptionDanger {
    color: #800000;
}

.footerDiv {
    position: fixed;
    background: rgba(0, 179, 134,.4);
    bottom: 0%;
    width: 100%;
    margin-left: 0px;
    height: 6%;
    vertical-align: bottom;
}

.modal-dialog {
    height: 87%;
}

.modal-content {
    /* 80% of window height */
    height: 95%;
    overflow-y: hidden;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

.responive {
    float: left;
    margin: 5px;
    padding: 15px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.numberTypeTextBox {
    padding: 0px;
    margin: 0px;
}

.tokenPatientDetailsTable {
    margin-left: 7%;
}

.tokenPatientDetailsTableColumn {
    height: 50px;
}

.tokenPatientDetailsName {
    margin-left: 10%;
    color: white;
    font-size: 24px;
    font-family: 'Segoe WP SemiLight';
    font-weight: bold;
    text-align: center;
}

.rounded_corners {
    border: 1px solid #A1DCF2;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
}

    .rounded_corners td, .rounded_corners th {
        border: 1px solid #A1DCF2;
        font-family: Arial;
        font-size: 10pt;
        text-align: center;
    }

    .rounded_corners table table td {
        border-style: none;
    }

#divContainer {
    max-width: 600pt;
    width: 80%;
    margin: 0 auto;
    margin-top: 10pt;
    font-family: Calibri;
    padding: 0.5em 1em 1em 1em;
    /* rounded corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* add gradient */
    background-color: #59A5A5;
    background: -webkit-gradient(linear, left top, left bottom, from(#59A5A5), to(#3FBF7F));
    background: -moz-linear-gradient(top, #59A5A5, #3FBF7F);
    /* add box shadows */
    -moz-box-shadow: 5px 5px 10px rgba(158, 232, 83,.3);
    -webkit-box-shadow: 5px 5px 10px rgba(158, 232, 83,.3);
    box-shadow: 5px 5px 10px rgba(158, 232, 83,.3);
}

.tokenPatientDetailslabel {
    margin-left: 10%;
    color: white;
    font-size: 19px;
    font-family: Segoe UI Light;
}

div.fileinputs {
    width: 80%;
}

div.fakefile {
    top: 0px;
    left: 0px;
    z-index: 1;
}

input.file {
    text-align: right;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    width: 20px;
    margin-top: -50px;
    padding-top: 0px;
}


.sidebar {

    color: #428BCA !important;
    margin:0px auto;
    height:100%;
    
}
.sidebarband {

    color: #428BCA !important;
    background-color:#009900;
    
    
    
}

 

.RightSideBar {
    background-color: rgba(40, 92, 0,.8);
    position: fixed;
    z-index: 2;
    bottom: 0%;
    right: 0%;
    width: 15%;
    height: 100%;
   padding-top:20px;
}
.leftSideBar {
    background-color: #347300;
    position: fixed;
    z-index: 2;
    bottom: 0%;
    right: 0%;
    width: 20%;
    height: 50%;
   padding-top:20px;
}

 .patientDetailsDiv
 {
     margin-top:20px;
      background-color:#F2F2F2;
      height:100%;
 }


.rows
{
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
}
.rows:hover
{
    background-color: #ff8000;
    font-family: Arial;
    color: #fff;
    text-align: left;
}
.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  position: relative;
  width: 42px;
 
}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}
.leftSideBarHeaing
{
    background-color:rgb(102, 153, 153);
    color:white;
    font-size:16px;

}
.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}


.dynamicTd
{
    width: 95px;
    box-shadow: 1px 1px 1px 1px #347300;
}

.accorianHeaings {color:black
}

/* .......... */
     
ul.accordion-menu {
	list-style:none;
	padding:0;
	font-family:'consolas',sans-serif;
	font-weight:400;
	font-size:16px;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;

}

ul.accordion-menu li {

	background:none;

	

	padding:0;

}

ul.accordion-menu li header {

	background-color:#B7D576;

	border:1px solid #75AD02;
    border-bottom:0px;
	cursor:pointer;

	padding:10px 20px;

	text-align:left;

	transition:all 200ms ease;

	user-select:none;

	-khtml-user-select:none;

	-moz-user-select:none;

	-ms-user-select:none;

	-webkit-touch-callout:none;

	-webkit-user-select:none;

}

ul.accordion-menu li header:hover {

	background-color:#73AB09;

	border-color:#75AD02;

}

ul.accordion-menu li section.content {

	border-bottom:1px solid #CCC;

	border-left:1px solid #CCC;

	border-right:1px solid #CCC;

	height:auto;

	overflow:hidden;

	padding:20px;

	transition:all 200ms linear;

}

ul.accordion-menu li section.content p {

	margin:0;	

}

ul.accordion-menu li.closed section.content {

	max-height:0;

	padding:0 20px;

}

ul.accordion-menu li.open header {

	background-color:#347506;

	border:1px solid #1E4703;

}

ul.accordion-menu li.open header span.title {

	color:#FFF;

}
